<div align="center">
<img src="https://s3-us-west-1.amazonaws.com/umedoc-email-images/Umedoclogotransparent-small.png">
  </div>
<br>
<font face="Helvetica"><font size="4">
Hello <%= @user.firstname %>,

<p>
Thank you for signing up with Umedoc! You can now book a visit with a Doctor at any available time!
Did you have any trouble signing up or any suggestions?
If you have any questions or concerns, please let us know and we'll be happy to help out.
<p>

For future reference, if you book an online visit, then at the time of the visit you
will need to go to https://umedoc.com/office to see the doctor.
<p>

Click here to confirm your email address: <%= email_confirmation_url(@user.email_confirmation_token) %>
<p>

Stay well! :)
<p>

  - Maryam, Umedoc Cofounder
  <p>

        </font></font>
