<div align="center">
<img src="https://s3-us-west-1.amazonaws.com/umedoc-email-images/Umedoclogotransparent-small.png">
  </div>
<br>
<font face="Helvetica"><font size="4">
Heya gang, UserMailer here once again to tell you that we gots a new patient signup! Yay!

<p>
That's right, from one <%= @user.firstname %> <%= @user.lastname %>.
Maybe this one will actually book a visit! (Haha...ha... -_-)
<p>

Just thought you should know! :)
<p>

<i>I am a robot. Bleep, Bloop. You probably already know this, but I wanted to say it anyway.</i>
<p>

        </font></font>
