<div class="magic">$10 visit!</div>
<p>
Do you need a doctor?<br>
Sign up today and your first visit with Doctor Syed is 80% off,
anytime in the next six months.
<p>
<div style="text-align: left; width: 38%; font-size: 13pt;">
  Regular day visit (9AM-5PM): <strike>$50</strike> <B><font color="green">$10 for your first visit</font></b><br>
  Weekend day visit (9AM-5PM): <strike>$100</strike> <b><font color="green">$20 for your first visit</font></b>
</div>

