<div class="magic">$50 visit!</div>
<p>
  Do you need a doctor?<br>
  Sign up today and your first evening/night visit (6PM-8AM) with Doctor Syed is 80% off,
  anytime in the next six months.
<p>
  <div style="text-align: left; width: 40%; font-size: 13pt;">
  Regular evening visit (6PM-10PM): <strike>$100</strike> <b><font color="green">$20 for your first visit</font></b><br>
  Weekend evening visit (6PM-10PM): <strike>$150</strike> <b><font color="green">$30 for your first visit</font></b><br>
  Regular night visit (10PM-8AM): <strike>$200</strike> <b><font color="green">$40 for your first visit</font></b><br>
  Weekend night visit (10PM-8AM): <strike>$250</strike> <b><font color="green">$50 for your first visit</font></b>
      </div>
