# Install git in order to be able to bundle gems from git
# http://stackoverflow.com/questions/14401204/how-to-automatically-restart-delayed-job-when-deploying-a-rails-project-on-amazo
packages:
    yum:
        git: []

files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_delayed_job":
        mode: "000755"
        owner: root
        group: root
        content: |
            EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
            EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
            EB_CONFIG_APP_CURRENT=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
            EB_CONFIG_APP_LOGS=$(/opt/elasticbeanstalk/bin/get-config container -k app_log_dir)
            EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
            EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
            EB_CONFIG_APP_PIDS=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)

            . $EB_SUPPORT_DIR/envvars
            . $EB_SCRIPT_DIR/use-app-ruby.sh

            cd $EB_CONFIG_APP_CURRENT

            . $EB_SUPPORT_DIR/envvars.d/sysenv

            su -s /bin/bash -c "bundle exec bin/delayed_job --pid-dir=$EB_CONFIG_APP_PIDS restart" $EB_APP_USER 
