---
http_interactions:
- request:
    method: get
    uri: http://api.authy.com/protected/json/phones/info?api_key=GbSROAGJos1omNU0VOgzMbkUsDIsRopvOVGAj0Y2Ta4&country_code=1&phone_number=646-500-3791
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"message":"Phone number information as of 2015-09-21 18:41:46 UTC","type":"cellphone","provider":"AT&T
        Wireless","ported":false,"success":true}'
  recorded_at: Mon, 21 Sep 2015 18:42:57 GMT
- request:
    method: post
    uri: http://api.authy.com/protected/json/users/new
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=testos%40%23%23%23%23%23%23%23%23&user%5Bcellphone%5D=646-500-3791&user%5Bcountry_code%5D=1&api_key=GbSROAGJos1omNU0VOgzMbkUsDIsRopvOVGAj0Y2Ta4
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"message":"User was not valid.","success":false,"errors":{"email":"is
        invalid","message":"User was not valid."},"email":"is invalid"}'
  recorded_at: Mon, 21 Sep 2015 18:42:57 GMT
recorded_with: VCR 2.9.3
