---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3261%20Sunset%20Avenue,Apt%20101,Menlo%20Park,CA,94025&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "101",
                       "short_name" : "101",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Sunset Lane",
                       "short_name" : "Sunset Ln",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Sharon Heights",
                       "short_name" : "Sharon Heights",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                    [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_dKGEciDlQdQrqHZKtZyRnlV6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7AxdUeW5r4L83h",
          "object": "customer",
          "account_balance": 0,
          "created": 1445015366,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7AxdUeW5r4L83h/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7AxdUeW5r4L83h/subscriptions"
          }
        }
  recorded_at: Fri, 16 Oct 2015 17:11:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7AxdUeW5r4L83h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_dKGEciDlQdQrqHZKtZyRnlV6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7AxdUeW5r4L83h",
          "object": "customer",
          "account_balance": 0,
          "created": 1445015366,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7AxdUeW5r4L83h/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7AxdUeW5r4L83h/subscriptions"
          }
        }
  recorded_at: Fri, 16 Oct 2015 17:11:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7AxdUeW5r4L83h/sources
    body:
      encoding: US-ASCII
      string: card[object]=card&card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2020&card[cvc]=593&card[address_zip]=94025
    headers:
      Authorization:
      - Bearer sk_test_dKGEciDlQdQrqHZKtZyRnlV6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_16wbhqHyhXBI5QZ2ONcxJ5kD",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": "94025",
          "address_zip_check": "pass",
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7AxdUeW5r4L83h",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 5,
          "exp_year": 2020,
          "fingerprint": "sVtYx6E5BecwOJ7v",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Fri, 16 Oct 2015 17:11:32 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Princess@nna,Apt%20101,Menlo%20Park,CA,94025&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "94025",
                       "short_name" : "94025",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Menlo Park",
                       "short_name" : "Menlo Park",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Menlo Park, CA 94025, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.5079439,
                          "lng" : -122.1213449
                       },
                       "southwest" : {
                          "lat" : 37.414466,
                          "lng" : -122.2291331
                       }
                    },
                    "location" : {
                       "lat" : 37.4484914,
                       "lng" : -122.1802812
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.5079439,
                          "lng" : -122.1213449
                       },
                       "southwest" : {
                          "lat" : 37.414466,
                          "lng" : -122.2291331
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJNREEB6ykj4ARQSDDhLXB1nw",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 16 Oct 2015 17:11:33 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3261%20Sunset%20Avenue,Princess@nna,Menlo%20Park,CA,94025&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "addres[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3261%20Sunset%20Avenue,Apt%20101,Princess@nna,CA,94025&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_c[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3261%20Sunset%20Avenue,Apt%20101,Menlo%20Park,Princess@nna,94025&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3261%20Sunset%20Avenue,Apt%20101,Menlo%20Park,CA,Princess@nna&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "ad[...]
[...]
