---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3261%20Sunset%20Avenue,Apt%20101,Menlo%20Park,CA,94025&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "101",
                       "short_name" : "101",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Sunset Lane",
                       "short_name" : "Sunset Ln",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Sharon Heights",
                       "short_name" : "Sharon Heights",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                    [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_dKGEciDlQdQrqHZKtZyRnlV6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7AxdgD1ZMN7JxB",
          "object": "customer",
          "account_balance": 0,
          "created": 1445015363,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7AxdgD1ZMN7JxB/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7AxdgD1ZMN7JxB/subscriptions"
          }
        }
  recorded_at: Fri, 16 Oct 2015 17:11:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7AxdgD1ZMN7JxB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_dKGEciDlQdQrqHZKtZyRnlV6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7AxdgD1ZMN7JxB",
          "object": "customer",
          "account_balance": 0,
          "created": 1445015363,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7AxdgD1ZMN7JxB/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7AxdgD1ZMN7JxB/subscriptions"
          }
        }
  recorded_at: Fri, 16 Oct 2015 17:11:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7AxdgD1ZMN7JxB/sources
    body:
      encoding: US-ASCII
      string: card[object]=card&card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2018&card[cvc]=593&card[address_zip]=94025
    headers:
      Authorization:
      - Bearer sk_test_dKGEciDlQdQrqHZKtZyRnlV6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_16wbhoHyhXBI5QZ2FMj8k5Fn",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": "94025",
          "address_zip_check": "pass",
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7AxdgD1ZMN7JxB",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 5,
          "exp_year": 2018,
          "fingerprint": "sVtYx6E5BecwOJ7v",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Fri, 16 Oct 2015 17:11:30 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Apt%20101,Menlo%20Park,CA,94025&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
        [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3261%20Sunset%20Avenue,Apt%20101,CA,94025&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3261%20Sunset%20Avenue,Apt%20101,Menlo%20Park,94025&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_comp[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3261%20Sunset%20Avenue,Apt%20101,Menlo%20Park,CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_compone[...]
