<div align="center">
  <img src="https://s3-us-west-1.amazonaws.com/umedoc-email-images/Umedoclogotransparent-small.png">
</div>
<br>
<font face="Helvetica"><font size="4">
  Hello!

  <p>
  Sorry to interrupt! This is just to let you know this month's Umedoc You subscription has been paid.
  <p>
  If you'd like to view or change your subscription info, visit <a href="https://umedoc.com/subscribe/edit">this page</a>.

  <p>

    Stay well!<br>
    - Maryam, Umedoc Cofounder
  <p>

</font></font>

