<div align="center">
  <img src="https://s3-us-west-1.amazonaws.com/umedoc-email-images/Umedoclogotransparent-small.png">
</div>
<br>
<font face="Helvetica"><font size="4">
  Hello --

  <p>
    Sorry to interrupt, but I had to let you know that we attempted to charge your card to pay for this month's subscription to
  Umedoc You, but the payment failed and as such, your subscription has been canceled.
  <p>
    If this is as you want it, you may ignore this email! Otherwise, to view or change your subscription info (such as which
    card you wish to pay with),
    please visit <a href="https://umedoc.com/subscribe/edit">this page</a>.

  <p>

    Stay well!<br>
    - Maryam, Umedoc Cofounder
  <p>

</font></font>
