<%= render partial: 'html_header' %>

<style>
h2 {text-align: center;font-size: 18pt; font-weight: bold; color: #009999;}
.about { font-size: 15pt;}
</style>
<div align="center">
<div style="width: 40%; padding-top: 100px;">
    <h1>About Umedoc</h1>

    <div class="about" style="text-align: left;">
    <h2>Patients</h2>
    <b>You can:</b><br>
    <li>Find the right doctor for you</li>
    <li>Book same day appointments- we'll try to make sure that you don't have to wait for an appointment</li>
    <li>See your doctor with an online video visit, from the comfort of your home, work or anywhere else with a broadband connection!</li>
    <br>
    <h2>Doctors</h2>
    <b>You can:</b><br>
    <li>Set up your own virtual practice online</li>
    <li>Pick up some patients every now and then, you choose when and for how much</li>
    <li>Nobody chooses your pay rate but you</li>

</div>
</div>
