<%= render partial: 'html_header' %>

<div align="center">
<div style="width: 40%; padding-top: 100px;">
    <h1>Contact Us</h1>

    Email: <b>maryam@umedoc.com</b> OR <b>shamoun@umedoc.com</b>
    <br>
    <br>
    Phone: <b>1-844-8-UMEDOC</b> (1-844-886-3362)
    <br>
    <br>
    We're always glad to help you out with anything at all.
    <br>
    <p>
    <img src= <%= image_path "Umedoc-mascots-proper.jpg" %> width="300">
    </p>




</div>
</div>
