<style>
  #footer {color: #939e9d; bottom: 0px; position: absolute; width: 100%; text-align: center; padding-bottom: 20px;}
        #footer a {color: #fff;}

</style>
<div id="footer">
  Umedoc - find, visit and keep the perfect doctor for you | <a href="/">umedoc.com</a>
</div>